/* -------------------------------- Variables ------------------------------- */
html {
  --fonts: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --white: #ffffff;
  --light-grey: #f5f5f5;
  --orange: #ffa200;
  --blue: #003459;
  --black: #212121;
  --grey: #4e4e4e;
  --overlay: rgba(255, 255, 255, 0.90);
  --radius: 10px;
  --border: 1px solid #CACACA;
  --shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  --neomprphic-bg: #ffffff;
  --neomorphic-hover: -2px -2px 5px #ffffff,  2px 2px 5px #BABECC;
  --neomorphic: -5px -5px 20px #ffffff,  5px 5px 20px #BABECC;
  --neomorphic-active: none;
  --invert: invert(0);
}

html[data-theme='dark'] {
  --white: #1d1d1d;
  --light-grey: #333333;
  --orange: #ffa200;
  --blue: #009dff;
  --black: #f0f0f0;
  --grey: #dddddd;
  --overlay: rgba(10, 13, 12, 0.90);
  --border: 1px solid #333333;
  --shadow: none;
  --invert: invert(1);
  --neomprphic-bg: #333333;
  --neomorphic-hover: 2px 2px 5px #111111, -2px -2px 5px #353535;
  --neomorphic: 5px 5px 20px #111111, -5px -5px 20px #353535;
  --neomorphic-active: none;
}

/* -------------------------------- Variables ------------------------------- */
/* ----------------------------- Default Values ----------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: var(--fonts);
  color: var(--black);
  text-decoration: none;
  font-weight: 400;
  line-height: 22px;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer,
header,
main,
div,
nav,
section {
  display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* ----------------------------- Default Values ----------------------------- */
body {
  background-color: var(--white);
}

/* --------------------------------- Header --------------------------------- */
header {
  background-color: var(--white);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
  height: 55px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container img {
  display: block;
  max-height: 35px;
}

header .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  /* ------------------------------ NavBar Button ----------------------------- */
  /* ------------------------------ NavBar Button ----------------------------- */
}

header .container .navbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

header .container .navbar nav li {
  display: inline-block;
}

header .container .navbar nav li a {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 0 15px;
  color: var(--blue);
}

header .container .navbar nav li a:hover {
  color: var(--orange);
}

header .container .navbar nav li:hover {
  color: var(--orange);
  cursor: pointer;
}

header .container .navbar .nav {
  display: none;
}

header .container .navbar .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  height: 90%;
  padding: 0 5px;
  margin-left: 50px;
  border-radius: 20px;
  /* ------------------ Dark mode button ------------------ */
  /* Rounded sliders */
  /* ------------------ Dark mode button ------------------ */
}

header .container .navbar .mode p {
  font-size: 15px;
}

header .container .navbar .mode .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-left: 6px;
}

header .container .navbar .mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

header .container .navbar .mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

header .container .navbar .mode .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

header .container .navbar .mode input:checked + .slider {
  background-color: var(--orange);
}

header .container .navbar .mode input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  transform: translateX(18px);
}

header .container .navbar .mode .slider.round {
  border-radius: 22px;
}

header .container .navbar .mode .slider.round:before {
  border-radius: 22px;
}

/* --------------------------------- Header --------------------------------- */
/* --------------------------------- Footer --------------------------------- */
.footer {
  background: var(--light-grey);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 20px;
}

.footer .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.footer .container p {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Montserrat';
  color: var(--blue);
  margin-bottom: 15px;
}

.footer .container ul li {
  list-style-type: none;
}

.footer .container ul li a {
  color: var(--grey);
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.footer .container ul li a:hover {
  color: var(--orange);
}

.footer .container ul li img {
  width: 16x;
  height: 16px;
  margin-right: 10px;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

.footer .container #gplay {
  width: 130px;
  margin-top: 20px;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

footer {
  background-color: var(--white);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  place-items: center;
}

footer .container img {
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-height: 35px;
}

/* --------------------------------- Footer --------------------------------- */
/* --------------------------------- Banner --------------------------------- */
.banner {
  height: 400px;
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  z-index: -10000000;
}

.banner .container {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.banner .container .course-info {
  margin-top: 40px;
}

.banner .container .course-info .path {
  width: 100%;
  margin-bottom: 30px;
}

.banner .container .course-info .path a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  place-items: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--black);
}

.banner .container .course-info .path a img {
  width: 12px;
  margin: 0 5px;
}

.banner .container .course-info .path a:hover {
  color: var(--orange);
}

.banner .container .course-info .title .infographics h1 {
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  color: var(--blue);
  font-family: 'Montserrat';
}

.banner .container .course-info .title .infographics p {
  font-size: 24px;
  line-height: 30px;
  color: var(--grey);
  margin-bottom: 30px;
}

.banner .container .course-info .title .infographics span {
  color: var(--black);
  font-size: 15px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  line-height: 24px;
}

.banner .container .course-info .title .infographics span img {
  margin: 3px 0;
  margin-right: 8px;
  height: 17px;
  width: 17px;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

.banner .container .course-info .title .infographics a {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: var(--grey);
  cursor: default;
}

.banner .container .course-info .title .infographics a button {
  margin-top: 30px;
  margin-right: 15px;
  padding: 12px 16px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #212121;
  background: var(--orange);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.banner .container .course-info .title .infographics a button:hover {
  background: var(--white);
  color: var(--black);
}

/* --------------------------------- Banner --------------------------------- */
/* ------------------------------ Video-Player ------------------------------ */
.first-section {
  background: var(--white);
  padding: 10px 0;
  margin-top: calc(400px + 55px);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.first-section .container {
  display: none;
}

.first-section .container .video-player {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 64% 36%;
      grid-template-columns: 64% 36%;
  background: var(--white);
}

.first-section .container .video-player .video-section {
  position: relative;
}

.first-section .container .video-player .video-section .video {
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.first-section .container .video-player .video-section .video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1px;
}

.first-section .container .video-player .video-section .video-title {
  min-height: 50px;
  padding-top: 10px;
}

.first-section .container .video-player .video-section .video-title #title {
  font-weight: 600;
  font-size: 20px;
  color: var(--blue);
}

.first-section .container .video-player .playlist-section {
  position: relative;
  margin-left: 10px;
  height: calc(100% - 50px);
}

.first-section .container .video-player .playlist-section .playlist-title {
  height: 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--light-grey);
  border-radius: var(--radius) var(--radius) 0 0;
}

.first-section .container .video-player .playlist-section .playlist-title .title {
  padding: 0 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.first-section .container .video-player .playlist-section .playlist {
  position: absolute;
  height: calc(100% - 50px);
  overflow-y: scroll;
  width: 100%;
  background-color: var(--white);
  border-radius: 0 0 var(--radius) var(--radius);
}

.first-section .container .video-player .playlist-section .playlist .video-card {
  margin: 0 auto;
  width: 100%;
  background-color: var(--white);
}

.first-section .container .video-player .playlist-section .playlist .video-card .something {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 106.7px auto;
      grid-template-columns: 30px 106.7px auto;
  height: 60px;
  margin: 5px 0;
}

.first-section .container .video-player .playlist-section .playlist .video-card .something .index {
  height: 100%;
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
}

.first-section .container .video-player .playlist-section .playlist .video-card .something .video-img {
  height: 100%;
  position: relative;
}

.first-section .container .video-player .playlist-section .playlist .video-card .something .video-img img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.first-section .container .video-player .playlist-section .playlist .video-card .something .remainder {
  padding-left: 6px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.first-section .container .video-player .playlist-section .playlist .video-card .something .remainder p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  max-height: 32px;
  padding-right: 3px;
  overflow: hidden;
  text-overflow: clip;
}

.first-section .container .video-player .playlist-section .playlist .video-card .something .remainder span {
  margin-top: 3px;
  font-size: 12px;
  line-height: 15px;
  color: var(--black);
}

.first-section .container .video-player .playlist-section .playlist .video-card:hover {
  background-color: var(--light-grey);
}

/* ------------------------------ Video-Player ------------------------------ */
/* --------------------------- Course Description --------------------------- */
.second-section {
  background: var(--white);
  padding: 20px 0 30px 0;
}

.second-section .container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* -------------------------------- More-Info ------------------------------- */
  /* -------------------------------- More-Info ------------------------------- */
}

.second-section .container .description {
  width: calc(100% - 300px - 20px);
  background: var(--white);
}

.second-section .container .description h2 {
  display: none;
}

.second-section .container .description .infographic {
  display: none;
}

.second-section .container .description .element {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
      grid-template-columns: 60px auto;
  margin-top: 20px;
}

.second-section .container .description .element .icons {
  width: 40px;
  height: 40px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.second-section .container .description .element .icons img {
  margin: 0 auto;
  width: 22px;
  height: 22px;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

.second-section .container .description .element span {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
  color: var(--blue);
}

.second-section .container .description .element p {
  font-size: 15px;
  line-height: 20px;
  margin-top: 8px;
  color: var(--grey);
  text-align: justify;
}

.second-section .container .description .element ul, .second-section .container .description .element ol {
  font-size: 15px;
  line-height: 20px;
  margin-top: 10px;
  color: var(--grey);
  margin-left: 30px;
}

.second-section .container .more-info {
  margin-left: auto;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.second-section .container .more-info .info-img {
  width: 100%;
  padding: 5px;
}

.second-section .container .more-info .info-img img {
  width: 100%;
}

.second-section .container .more-info .info-1 {
  width: 100%;
  margin-left: auto;
  background-color: var(--white);
  padding: 10px;
}

.second-section .container .more-info .info-1 .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 12px 0;
  font-size: 13px;
}

.second-section .container .more-info .info-1 .info .left {
  margin-left: 5px;
}

.second-section .container .more-info .info-1 .info .left span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.second-section .container .more-info .info-1 .info .left span img {
  width: 19px;
  height: 19px;
  margin-right: 8px;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

.second-section .container .more-info .info-1 .info .right {
  margin-left: 5px;
}

.second-section .container .more-info .info-1 .info .right a {
  color: var(--blue);
  text-decoration: underline;
}

.second-section .container .more-info .info-1 .info .right a:hover {
  color: var(--orange);
  text-decoration: none;
}

.second-section .container .more-info .info-1 hr {
  height: 0;
  border: 1px solid var(--light-grey);
}

/* --------------------------- Course Description --------------------------- */
/* --------------------------------- cards -------------------------------- */
.third-section {
  padding: 30px 0 100px 0;
  background: var(--white);
}

.third-section .container {
  margin: 0 auto;
  padding: 0;
}

.third-section .container h1 {
  font-size: 34px;
  line-height: 50px;
  font-weight: 600;
  color: var(--blue);
  text-align: center;
  margin: 20px 0;
}

.third-section .container .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.third-section .container .cards .cards_item {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.third-section .container .cards .cards_item .card {
  border-radius: var(--radius);
  -webkit-box-shadow: var(--neomorphic);
          box-shadow: var(--neomorphic);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.third-section .container .cards .cards_item .card img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.third-section .container .cards .cards_item .card .card_content {
  padding: 15px;
  background: var(--white);
}

.third-section .container .cards .cards_item .card .card_content span {
  font-size: 13px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.third-section .container .cards .cards_item .card .card_content span img {
  height: 16px;
  width: 16px;
  margin-left: -2px;
  margin-right: 5px;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

.third-section .container .cards .cards_item .card .card_content h3 {
  font-size: 17px;
  line-height: 19px;
  height: 60px;
  font-weight: 600;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 10px;
}

.third-section .container .cards .cards_item .card .card_content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-section .container .cards .cards_item .card .card_content .bottom span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  font-size: 13px;
  margin: 0;
}

.third-section .container .cards .cards_item .card .card_content .bottom span img {
  width: 16px;
  height: 16px;
  margin-left: 3px;
}

.third-section .container .cards .cards_item .card:hover {
  cursor: pointer;
  -webkit-box-shadow: var(--neomorphic-hover);
          box-shadow: var(--neomorphic-hover);
}

.third-section .container .cards .cards_item .card:active {
  cursor: pointer;
  -webkit-box-shadow: var(--neomorphic-active);
          box-shadow: var(--neomorphic-active);
}

/* --------------------------------- cards -------------------------------- */
/* ------------------------------ Media Queries ----------------------------- */
@media (max-width: 450px) {
  .third-section .container .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 15px;
  }
}

@media (max-width: 992px) {
  header {
    height: 55px;
  }
  header .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .container img {
    max-height: 35px;
  }
  header .container .navbar nav {
    display: none;
  }
  header .container .navbar .mode {
    margin-right: 40px;
  }
  header .container .navbar .nav {
    display: block;
  }
  header .container .navbar .nav .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 21px;
    right: 15px;
    height: 25px;
    width: 22px;
  }
  header .container .navbar .nav .sidebarIconToggle .spinner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: var(--black);
  }
  header .container .navbar .nav .sidebarIconToggle .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  header .container .navbar .nav .sidebarIconToggle .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  header .container .navbar .nav .sidebarIconToggle .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  header .container .navbar .nav #sidebarMenu {
    height: 100vh;
    position: fixed;
    right: 0;
    width: 80vw;
    margin-top: 26px;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
    background: var(--white);
  }
  header .container .navbar .nav #sidebarMenu .sidebarMenuInner {
    margin: 0;
    padding: 30px 0 0 0;
  }
  header .container .navbar .nav #sidebarMenu .sidebarMenuInner a li {
    list-style: none;
    color: var(--blue);
    font-size: 18px;
    line-height: 35px;
    font-weight: 700;
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    border-bottom: 3px solid var(--light-grey);
    margin: 0 auto;
  }
  header .container .navbar .nav #sidebarMenu .sidebarMenuInner a li:hover {
    background-color: var(--light-grey);
    color: var(--orange);
  }
  header .container .navbar .nav input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .container .navbar .nav input[type="checkbox"] {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  header .container .navbar .nav input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0s;
    transition: all 0s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  header .container .navbar .nav input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 8px;
  }
  header .container .navbar .nav input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -9px;
  }
  .footer .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    padding: 0 0 25px 0;
  }
  .footer .container p {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .footer .container ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 24px;
  }
  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100px;
  }
  footer .container img {
    margin-bottom: 10px;
  }
  .banner {
    height: 330px;
    padding: 20px 0 30px 0;
    top: 55px;
  }
  .banner .container {
    padding: 0 15px;
  }
  .banner .container .course-info {
    margin-top: 0;
  }
  .banner .container .course-info .path {
    margin-bottom: 20px;
  }
  .banner .container .course-info .path a {
    font-size: 13px;
  }
  .banner .container .course-info .title {
    margin-top: 30px;
    display: -ms-grid;
    display: grid;
  }
  .banner .container .course-info .title .infographics h1 {
    font-size: 22px;
    line-height: 30px;
  }
  .banner .container .course-info .title .infographics p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .banner .container .course-info .title .infographics span {
    font-size: 14px;
    line-height: 25px;
  }
  .banner .container .course-info .title .infographics span img {
    height: 15px;
  }
  .banner .container .course-info .title .infographics a {
    display: none;
  }
  .banner .container .course-info .title .infographics button {
    display: none;
  }
  .first-section {
    padding: 20px 0 0 0;
    margin-top: calc(280px + 25px);
  }
  .first-section .container {
    display: block;
  }
  .first-section .container .video-player {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
    background: var(--light-grey);
  }
  .first-section .container .video-player .video-section .video iframe {
    border-radius: 0;
  }
  .first-section .container .video-player .video-section .video-title {
    padding: 10px;
    background: var(--white);
    font-size: 14px;
  }
  .first-section .container .video-player .playlist-section {
    height: 300px;
    padding-left: 0;
    width: calc(100% - 20px);
    margin: 15px auto;
  }
  .first-section .container .video-player .playlist-section .playlist-title {
    background: var(--white);
  }
  .first-section .container .video-player .playlist-section .playlist-title .title {
    font-size: 14px;
    line-height: 16px;
  }
  .first-section .container .video-player .playlist-section .playlist {
    height: calc(300px - 50px);
    width: 100%;
  }
  .first-section .container .video-player .playlist-section .playlist .video-card {
    width: 100%;
  }
  .second-section {
    padding-top: 20px;
  }
  .second-section .container .description {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }
  .second-section .container .description .element {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .second-section .container .description .element .icons {
    display: none;
  }
  .second-section .container .description .element p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 2px;
  }
  .second-section .container .more-info {
    display: none;
  }
  .third-section .container h1 {
    font-size: 26px;
  }
  .third-section .container .cards .cards_item .card {
    -webkit-box-shadow: var(--neomorphic-hover);
            box-shadow: var(--neomorphic-hover);
  }
  .third-section .container .cards .cards_item .card .card_content {
    padding: 10px;
  }
  .third-section .container .cards .cards_item .card .card_content span {
    font-size: 13px;
    line-height: 18px;
  }
  .third-section .container .cards .cards_item .card .card_content span img {
    width: 12px;
    height: 12px;
    margin-left: 0;
  }
  .third-section .container .cards .cards_item .card .card_content h3 {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .footer .container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }
  .footer .container ul li a {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .third-section .container .cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .third-section .container .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
  .banner {
    height: 550px;
    padding-top: 30px;
  }
  .banner .container .course-info {
    margin-top: 50px;
  }
  .banner .container .course-info .path {
    margin-bottom: 50px;
  }
  .banner .container .course-info .path a {
    font-size: 15px;
    font-weight: 700;
  }
  .banner .container .course-info .title .infographics h1 {
    font-size: 36px;
    line-height: 50px;
  }
  .banner .container .course-info .title .infographics p {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 50px;
  }
  .banner .container .course-info .title .infographics span {
    font-size: 18px;
    line-height: 30px;
  }
  .banner .container .course-info .title .infographics a button {
    padding: 18px 30px;
    font-size: 17px;
  }
  .first-section {
    margin-top: calc(550px + 55px);
  }
  .third-section .container .cards {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1440px;
  }
  .container .video-player {
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .second-section .container .description {
    width: 70%;
  }
  .second-section .container .more-info {
    width: calc(30% - 20px);
  }
  .second-section .container .more-info .info-1 .info {
    font-size: 15px;
    padding: 5px;
  }
}

/* ------------------------------ Media Queries ----------------------------- */
/*# sourceMappingURL=mtube.css.map */